__pycache__/
*.pyc
stufe0_*.zip
mcd_fit_*.json.gz
*.json.gz
/vergleich.png
/ruheform.png
mcd_fit_ergebnis_*.json.gz
mcd_stoffebene_*.json.gz
stoffebene_anims/
/stoffebene_vergleich.png
stufe2_paket.zip
mcd_fit_apply_v2.py
